body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
    width: 50%;
    min-width: 800px;
    height: 100%;
}
#top{
    display: flex;
    flex-direction: row;
}
h1 {
    text-align: start;
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Algerian";
    padding: 1%;
}
img {
    width: 200px;
    height: 200px;
    animation: lighting 3s linear infinite;
}
@keyframes lighting {
10%{
    filter: brightness(1) invert(0);
}
11%{
    filter: brightness(0) invert(1);
}
16%{
    filter: brightness(1) invert(0);
}
20%{
    filter: brightness(0) invert(1);
}
21%{
    filter: brightness(0) invert(1);
}
32%{
    filter: brightness(1) invert(0);
}
}
#output {
    padding-top: 50px;
    font-size: 200px;
    width: 90%;
    font-family: "Algerian";
    font-size: large;
}
#input {
    padding-top: 50px;
    width: 90%;
}
input {
    width: 90%;
    height: 100%;
    border: 1px solid grey;
    background-color: black;
    color: white;
}